@model IEnumerable<Model.AddressModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Adress_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdressName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatesName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DistrictName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Adress_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdressName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatesName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DistrictName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Adress_ID  }) |
            @Html.ActionLink("Details", "Details", new { id=item.Adress_ID }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.Adress_ID })
        </td>
    </tr>
}

</table>
